.articles {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-top: 15px;
}

.article__list {
    display: flex;
    flex-direction: column;
}

.article__item {
    margin: 15px 0px;
}

.article__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}