.postItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-top: 15px;
    border: 1px solid teal;
}

.postItem__content {
    margin: 8px;
}
/*.postItem > * {*/
/*    margin: 8px;*/
/*}*/

/*.postItem__content > * {*/
/*    margin: 4px 0px;*/
/*    text-align: left;*/
/*}*/