.postItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.postItem > * {
    margin: 8px;
}

.postItem__content > * {
    margin: 4px 0px;
    text-align: left;
}