#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 70%;
  /*text-align: center;*/
  /*min-height: 100vh;*/
  /*font-size: calc(10px + 2vmin);*/
}

.content {
}

nav {
  padding: 8px;
}

nav > * {
  margin: 4px;
}

.demos {
  display: flex;
  justify-content: left;
}

.demos__menu {
  display: flex;
  flex-direction: column;
  min-width: 20%;
  max-width: 20%;
}

.demos__content {
  width: 100%;
  /*padding: 15px;*/
}

button {
  /*border: none;*/
  /*background: green;*/
  /*color: white;*/
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 16px;
  margin: 4px;
}
