#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 70%;
  /*text-align: center;*/
  /*min-height: 100vh;*/
  /*font-size: calc(10px + 2vmin);*/
}

.content {

}

button {
  /*border: none;*/
  /*background: green;*/
  /*color: white;*/
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 16px;
  margin: 4px;
}
